* {
    outline: none;
}

body {
    background-color: #10101d;
}

@media screen and (min-width: 30px) and (max-width: 375px) {
    .wrapper {
        box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .player-0-panel,
    .player-1-panel {
        background-color: #a8a8cb;
        width: 100%;
        height: 50%;
        text-align: center;
    }

    .dice-img {
        width: 27vw;
        height: 27vw;
        position: absolute;
        top: 50%;
        left: -105%;
        transform: translateY(-50%);
        background-color:  #10101d;
        box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.4);
        border-radius: 15%;
        text-align: center;
    }

    .dice-img .img {
        font-size: 22vw;
        line-height: 1.31;
        color: #a8a8cb;
        text-align: center;
    }

    .hold {
        font-size: 7vw;
        color:  #10101d;
        cursor: pointer;
        position: absolute;
        top: 53%;
        left: 79%;
        transform: translateY(-50%);
    }

    .hold:hover {
        color: #090914;
    }

    .new-game {
        font-size: 6vw;
        color:  #10101d;
        cursor: pointer;
        position: absolute;
        top: 53%;
        left: 10%;
        transform: translateY(-50%);
    }

    .new-game:hover {
        color: #090914;
    }


    .dice {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 18vw;
        height: 18vw;
        border-radius: 50%;
        background-color: #10101d;
        cursor: pointer;
        box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.4);
    }

    .dice i {
        font-size: 9vw;
        color:  #a8a8cb;
        line-height: 1.9;
    }

    .dice:active {
        box-shadow: none;
    }

    .control-panel {
        position: absolute;
        top: 50%;
        left: 52%;
        transform: translateY(-50%);
        width: 40vw;
        height: 14vw;
        background-color:  #a8a8cb;
        border-radius: 40px;
        text-align: center;
        cursor: pointer;
        box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.4);
        cursor: default;
    }
    
    #player-0{
        display: inline-block;
        position: relative;
        font-family: 'Kanit', sans-serif;
        font-size: 10vw;
        font-weight: 200;
        color: #090914;
        letter-spacing: 4px;
        margin-top: 15vw;
    }
    
    #player-1{
        display: inline-block;
        position: relative;
        bottom: -190px;
        font-family: 'Kanit', sans-serif;
        font-size: 10vw;
        font-weight: 200;
        color: #090914;
        letter-spacing: 4px;
        margin-top: 15vw;
    }

    #score-0{
        text-align: center;
        display: block;
        font-family: 'Kanit', sans-serif;
        font-size: 25vw;
        font-weight: 100;
        color: #090914;
        cursor: default;
        user-select: none;
        margin-top: -8%;
    }
    
    #score-1 {
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 485px;
        font-family: 'Kanit', sans-serif;
        font-size: 25vw;
        font-weight: 100;
        color:  #090914;
        cursor: default;
        user-select: none; margin-top: -5%;
}

    .active .player-name::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f0da";
        margin-right: 10px;
        position: relative;
        top: 2px;
    }
    
    .active #player-0,
    .active #player-1{
        color: #717198;
    }

    .active {
        background-color: #090914;
    }


    .active #score-0,
    .active #score-1{
        color: #717198;
    }
    
    .winner {
        background-color: #090914;
    }

    .winner #player-0,
    .winner #player-1 {
        font-weight: 300;
        color: #717198;
    }
    
    .winner #score-0,
    .winner #score-1 {
        font-weight: 200;
        font-size: 43vw;
        top: 385px;
        color:  #717198
    }
    
    .winner .player-name::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f559";
        margin-right: 10px;
        position: relative;
        top: 2px;
    }

    
    #current-box-0 {
        width: 24vw;
        height: 23vw;
        text-align: center;
        display: block;
        background-color: #090914;
        position: absolute;
        top: 185px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #current-box-1 {
        width: 24vw;
        height: 23vw;
        text-align: center;
        display: block;
        background-color: #090914;
        position: absolute;
        top: 405px;
        left: 50%;
        transform: translateX(-50%);
    }

    .player-current-label {
/*        border: 1px dashed black;*/
        color: #717198;
        font-size: 6vw;
        display: block;
        padding-top: 2vw;
    }

    .player-current-score {
/*        border: 1px dashed black;*/
        font-family: 'Kanit', sans-serif;
        font-size: 9vw;
        font-weight: 200;
        color: #717198;
        cursor: default;
        user-select: none;
        margin-top: -1.5vw;
    }

    .active #current-box-0,
    .active #current-box-1{
        background-color: #717198;
    }
      
    .active .player-current-box > div {
        color: #090914;
    }
    .winner #current-box-0,
    .winner #current-box-1{
        display: none;
    }

    .winner .player-current-box > div {
        color: #090914;
    }

}

@media only screen and (min-width: 1440px) {
    .wrapper {
        box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.4);
        width: 80%;
        height: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 12px;
    }

    .player-0-panel,
    .player-1-panel {
        background-color: #a8a8cb;
        width: 50%;
        height: 600px;
        float: left;
        outline: none;
        text-align: center;
    }

    .player-0-panel {
        border-radius: 12px 0 0 12px;
    }

    .player-1-panel {
        border-radius: 0 12px 12px 0;
    }

    .dice-img {
        width: 150px;
        height: 150px;
        position: absolute;
        top: -210px;
        left: 50%;
        transform: translateX(-50%);
        background-color:  #10101d;
        box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.4);
        border-radius: 25%;
        text-align: center;
    }

    .dice-img .img {
        font-size: 110px;
        line-height: 1.45;
        color: #a8a8cb;
        text-align: center;
    }

    .hold:hover::after {
        content: "Hold";
        position: absolute;
        top: -5px;
        right: -67px;
        color: #10101d;
        font-family: 'Kanit', sans-serif;
        font-weight: 300;
        font-size: 18px;
        text-align: center;
        margin-top: 5px;
    }


    .hold {
        font-size: 40px;
        color:  #090914;
        cursor: pointer;
        position: absolute;
        top: 168px;
        left: 50%;
        transform: translateX(-50%);
    }

    .hold:hover {
        color: #10101d;
    }

    .new-game:hover::after {
        content: "New Game";
        position: absolute;
        top: -5px;
        right: -118px;
        color: #10101d;
        font-family: 'Kanit', sans-serif;
        font-weight: 300;
        font-size: 18px;
        text-align: center;
        margin-top: 5px;
    }

    .new-game {
        font-size: 30px;
        color:  #090914;
        cursor: pointer;
        position: absolute;
        top: 17px;
        left: 50%;
        transform: translateX(-50%);
    }

    .new-game:hover {
        color: #10101d;
    }

    .dice:hover::after {
        content: "Roll'on";
        /*    display: inline;*/
        position: absolute;
        top: 25px;
        right: -63px;
        color: #10101d;
        font-family: 'Kanit', sans-serif;
        font-weight: 300;
        font-size: 18px;
        text-align: center;
        margin-top: 5px;
    }

    .dice {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #10101d;
        cursor: pointer;
        box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.4);
    }

    .dice i {
        font-size: 45px;
        font-size: 45px;
        color:  #a8a8cb;
        line-height: 2.1;
    }

    .dice:active {
        box-shadow: none;
    }

    .control-panel {
        position: absolute;
        top: 340px;
        left: 50%;
        transform: translateX(-50%);
        width: 65px;
        height: 220px;
        background-color:  #a8a8cb;
        border-radius: 40px;
        text-align: center;
        cursor: pointer;
        box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.4);
        cursor: default;
    }

    .player-name {
        /*    border: 1px dashed white;*/
        text-align: center;
        display: inline-block;
        font-family: 'Kanit', sans-serif;
        font-size: 50px;
        font-weight: 200;
        color:  #090914;
        letter-spacing: 4px;
        margin-top: 125px;
    }

    .player-score {
        /*    border: 1px dashed white;*/
        width: 90%;
        text-align: center;
        display: inline-block;
        font-family: 'Kanit', sans-serif;
        font-size: 130px;
        font-weight: 100;
        color:  #090914;
        cursor: default;
        user-select: none;
        margin-top: -10px;
        ;
    }

    .active .player-name::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f0da";
        margin-right: 10px;
        position: relative;
        top: 2px;
    }

    .active {
        background-color: #717198;
    }

    .winner {
        background-color: #090914;
    }

    .winner .player-name,
    .winner .player-score {
        color:#a8a8cb;
        font-weight: 200;
    }
    
    .winner .player-name::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f559";
        margin-right: 10px;
        position: relative;
        top: 2px;
    }

    .player-current-box {
        width: 25%;
        text-align: center;
        display: inline-block;
        background-color:  #090914;
        position: relative;
        top: 113px;
    }

    .player-current-label {
        color:  #a8a8cb;
        font-size: 23px;
        width: 20%;
        float: left;
        padding: 4px;
    }

    .player-current-score {
        font-family: 'Kanit', sans-serif;
        font-size: 50px;
        font-weight: 200;
        color:  #a8a8cb;
        margin-bottom: 20px;
        text-align: center;
        padding-right: 25%;
        padding-top: 8px;
        cursor: default;
        user-select: none;
    }

    .active .player-current-box {
        background-color:  #090914;
    }
    
     .active .player-current-box > div {
        color: #717198;
    }

    .winner .player-current-box {
        background-color: #a8a8cb;
    }

    .winner .player-current-box > div {
        color:  #090914;
    }
}